[submodule "Engine"]
	path = Engine
	url = https://github.com/TerraForged/Engine.git
[submodule "libs/Noise2D"]
	path = libs/Noise2D
	url = https://github.com/TerraForged/Noise2D.git
[submodule "libs/Cereal"]
	path = libs/Cereal
	url = https://github.com/TerraForged/Cereal.git
